@import "tailwindcss";

@media (max-width: 1017px) {
    input {
        width: 23rem;
    }
}
@media (max-width: 989px) {
    input {
        width: 21rem;
    }
}
@media (max-width: 950px) {
    input {
        width: 18rem;
    }
}
@media (max-width: 901px) {
    input {
        width: 16rem;
    }
}
@media (max-width: 873px) {
    input {
       display: none;
    }
    .button{
        display: none;
    }
}
@media (max-width: 577px) {
   ul{
    gap: 18px;
   }
}
@media (max-width: 473px) {
   ul{
    gap: 15px;

   }
   li{
    font-size: small;
   }
}



*{
 margin: 0;
 box-sizing: border-box;
}
.heart-container {
    --heart-color: rgb(0, 0, 0);
    position: relative;
    width: 20px;
    height: 20px;
    transition: .3s;
  }
  
  .heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
          .heart-container .svg-filled {
    fill: red;
    position: absolute;
  }
  
  .heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
  }
  
  .heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
  }
  
  @keyframes keyframes-svg-filled {
    0% {
      transform: scale(0);
    }
  
    25% {
      transform: scale(1.2);
    }
  
    50% {
      transform: scale(1);
      filter: brightness(1.5);
    }
  }
  
  @keyframes keyframes-svg-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      filter: brightness(1.5);
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
      display: none;
    }
  }


  /* loading */


.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    /* position: relative; */
  



    animation: spin988 2s linear infinite;
  }
  
  .loader .circle {
    --color: #333;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%, 25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%, 50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%, 75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%, 100% {
      transform: scale(1) rotate(360deg);
    }
  }


  
.button {
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: rgb(68, 68, 68);
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
    border: 2px rgb(199, 194, 194) solid;
    margin-left: 5px;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .button-span {
    color: #aaa;
  }
  